@foreach (var s in Model)
{
    <form asp-action="CapNhatDiem" method="post">
        <tr>
            <td>@s.MaDiem</td>
            <td>@s.HocVien?.HoTen</td>
            <td>
                <input type="hidden" name="maDiem" value="@s.MaDiem" />
                <input type="number" step="0.1" name="diemGiuaKy" value="@s.DiemGiuaKy"
                       class="form-control form-control-sm" />
            </td>
            <td>
                <input type="number" step="0.1" name="diemCuoiKy" value="@s.DiemCuoiKy"
                       class="form-control form-control-sm" />
            </td>
            <td>
                <input type="text" name="nhanXet" value="@s.NhanXet"
                       class="form-control form-control-sm" />
            </td>
            <td class="text-center">
                <button type="submit" class="btn btn-success btn-sm">
                    <i class="bi bi-save"></i> Lưu
                </button>
            </td>
        </tr>
    </form>
}
